In [1]:
letters = 'python'

In [5]:
print('실행 예')
print(letters[0:3])

실행 예
pyt

In [6]:
print('실행 예:')

실행 예:

In [8]:
p = '-'

In [9]:
print('실행 예:')
print(p*80)

실행 예:
--------------------------------------------------------------------------------

In [12]:
t1 = 'python'
t2 = 'java'
t3 = t1+" "+t2

In [13]:
print('실행 예:')
print(t3*3)

실행 예:
python javapython javapython java

In [21]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [22]:
print('이름: %s 나이: %d' % (name1, age1))

이름: 김민수 나이: 10

In [23]:
print('이름: %s 나이: %d' % (name2,age2))

이름: 이철희 나이: 13

In [30]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [32]:
print("이름:{} 나이: {}".format(name1, age1))
print("이름:{} 나이: {}".format(name2, age2))

이름:김민수 나이: 10
이름:이철희 나이: 13

In [36]:
a = str(input())
b = int(input())
print("이름: %s 나이: %d" % (a,b))

이름: 김종선 나이: 7

In [37]:
상장주식수 = "5,969,782,550"

In [38]:
상장 = 상장주식수.replace(",","")

In [39]:
상장

'5969782550'

In [40]:
분기 = "2020/03(E) (IFRS연결)"

In [41]:
q = 분기[0:10]

In [42]:
print(q)

2020/03(E)

In [43]:
data = "   삼성전자   "

In [45]:
data1 = data.replace(" ","")

In [46]:
data1

'삼성전자'

In [47]:
data2 = data.strip()

In [48]:
data2

'삼성전자'

In [49]:
ticker = "btc_krw"

In [51]:
a = ticker.upper()

In [52]:
a

'BTC_KRW'

In [55]:
ticket = "BTC_KRW"

In [56]:
a = ticket.lower()

In [57]:
a

'btc_krw'

In [62]:
a = 'hello'
b = a.capitalize()

In [63]:
b

'Hello'

In [64]:
a = "hello world"
b = a.split()

In [65]:
b

['hello', 'world']

In [66]:
b = a.split("-")

In [67]:
b

['hello world']

In [68]:
data = "039490       "
data1 = data.strip()

In [69]:
data1

'039490'

In [70]:
data1 = data.rstrip()

In [71]:
data1

'039490'

In [72]:
data1 = data.lstrip()

In [73]:
data1

'039490       '

In [74]:
movie_rank= ["닥터 스트레인지", "스플릿", "럭키"]

In [75]:
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [77]:
movie_rank.append("배트맨")

In [78]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [79]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [80]:
movie_rank.insert(1, "슈퍼맨")

In [81]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [90]:
movie_rank= ["닥터 스트레인지", "수퍼맨","스플릿", "배트맨"]

In [94]:
lang1 = ["C","C++","JAVA"]
lang2 = ["Python","Go","C#"]

In [95]:
langs = lang1 + lang2

In [96]:
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [103]:
nums = [1,2,3,4,5]
print(sum(nums))

15

In [104]:
nums = [1,2,3,4,5,6,7]
print('max:  ',max(nums)
)

max:   7

In [105]:
print('min: ',min(nums))

min:  1

In [107]:
cook = ["피자","김밥","만두","양념치킨","족발","김치만두","쫄면","소시지","라면","팥빙수","김치전"]

In [110]:
print(len(cook))

11

In [114]:
nums = [1,2,3,4,5]
average = sum(nums) / len(nums)
print(average)

3.0

In [115]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [116]:
print('출력 예시:')
print(price[1:])

출력 예시:
[100, 130, 140, 150, 160, 170]

In [119]:
nums = [ 1,2,3,4,5,6,7,8,9,10]
print('실행 예:')
print(nums[::2])

실행 예:
[1, 3, 5, 7, 9]

In [120]:
nums = [ 1,2,3,4,5,6,7,8,9,10]
print('실행 예:')
print(nums[1::2])

실행 예:
[2, 4, 6, 8, 10]

In [121]:
nums = [1, 2, 3, 4, 5]

In [127]:
print('실행 예:')
print(nums[::-1])

실행 예:
[5, 4, 3, 2, 1]

In [128]:
interest = ['삼성전자', 'LG전자', 'Naver']

In [131]:
print('출력 예시:')
print(interest[0::2])

출력 예시:
['삼성전자', 'Naver']

In [132]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [135]:
print('출력 예시:')
print(" ".join(interest))

출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [137]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [139]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [140]:
string = "삼성전자/LG전자/Naver"

In [144]:
interest = string.split("/")

In [145]:
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [153]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [149]:
data1 = data.sort()

In [150]:
data1

In [154]:
my_variable = ()
print(type(my_variable
))

<class 'tuple'>

In [155]:
tupule = (1)

In [157]:
tupule

1

In [159]:
t = ['a', 'b', 'c']

In [160]:
t[0] = 'A'

In [161]:
t

['A', 'b', 'c']

In [165]:
t[0] = 'a'

In [166]:
t

['a', 'b', 'c']

In [167]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [169]:
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [170]:
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)