In [1]:
letters = 'python'

In [5]:
print('실행 예')
print(letters[0:3])

실행 예
pyt

In [6]:
print('실행 예:')

실행 예:

In [8]:
p = '-'

In [9]:
print('실행 예:')
print(p*80)

실행 예:
--------------------------------------------------------------------------------

In [12]:
t1 = 'python'
t2 = 'java'
t3 = t1+" "+t2

In [13]:
print('실행 예:')
print(t3*3)

실행 예:
python javapython javapython java

In [21]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [22]:
print('이름: %s 나이: %d' % (name1, age1))

이름: 김민수 나이: 10

In [23]:
print('이름: %s 나이: %d' % (name2,age2))

이름: 이철희 나이: 13

In [30]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [32]:
print("이름:{} 나이: {}".format(name1, age1))
print("이름:{} 나이: {}".format(name2, age2))

이름:김민수 나이: 10
이름:이철희 나이: 13

In [36]:
a = str(input())
b = int(input())
print("이름: %s 나이: %d" % (a,b))

이름: 김종선 나이: 7

In [37]:
상장주식수 = "5,969,782,550"

In [38]:
상장 = 상장주식수.replace(",","")

In [39]:
상장

'5969782550'

In [40]:
분기 = "2020/03(E) (IFRS연결)"

In [41]:
q = 분기[0:10]

In [42]:
print(q)

2020/03(E)

In [43]:
data = "   삼성전자   "

In [45]:
data1 = data.replace(" ","")

In [46]:
data1

'삼성전자'

In [47]:
data2 = data.strip()

In [48]:
data2

'삼성전자'

In [49]:
ticker = "btc_krw"

In [51]:
a = ticker.upper()

In [52]:
a

'BTC_KRW'

In [55]:
ticket = "BTC_KRW"

In [56]:
a = ticket.lower()

In [57]:
a

'btc_krw'

In [62]:
a = 'hello'
b = a.capitalize()

In [63]:
b

'Hello'

In [64]:
a = "hello world"
b = a.split()

In [65]:
b

['hello', 'world']

In [66]:
b = a.split("-")

In [67]:
b

['hello world']

In [68]:
data = "039490       "
data1 = data.strip()

In [69]:
data1

'039490'

In [70]:
data1 = data.rstrip()

In [71]:
data1

'039490'

In [72]:
data1 = data.lstrip()

In [73]:
data1

'039490       '

In [74]:
movie_rank= ["닥터 스트레인지", "스플릿", "럭키"]

In [75]:
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [77]:
movie_rank.append("배트맨")

In [78]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [79]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [80]:
movie_rank.insert(1, "슈퍼맨")

In [81]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [90]:
movie_rank= ["닥터 스트레인지", "수퍼맨","스플릿", "배트맨"]

In [94]:
lang1 = ["C","C++","JAVA"]
lang2 = ["Python","Go","C#"]

In [95]:
langs = lang1 + lang2

In [96]:
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [103]:
nums = [1,2,3,4,5]
print(sum(nums))

15

In [104]:
nums = [1,2,3,4,5,6,7]
print('max:  ',max(nums)
)

max:   7

In [105]:
print('min: ',min(nums))

min:  1

In [107]:
cook = ["피자","김밥","만두","양념치킨","족발","김치만두","쫄면","소시지","라면","팥빙수","김치전"]

In [110]:
print(len(cook))

11

In [114]:
nums = [1,2,3,4,5]
average = sum(nums) / len(nums)
print(average)

3.0

In [115]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [116]:
print('출력 예시:')
print(price[1:])

출력 예시:
[100, 130, 140, 150, 160, 170]

In [119]:
nums = [ 1,2,3,4,5,6,7,8,9,10]
print('실행 예:')
print(nums[::2])

실행 예:
[1, 3, 5, 7, 9]

In [120]:
nums = [ 1,2,3,4,5,6,7,8,9,10]
print('실행 예:')
print(nums[1::2])

실행 예:
[2, 4, 6, 8, 10]

In [121]:
nums = [1, 2, 3, 4, 5]

In [127]:
print('실행 예:')
print(nums[::-1])

실행 예:
[5, 4, 3, 2, 1]

In [128]:
interest = ['삼성전자', 'LG전자', 'Naver']

In [131]:
print('출력 예시:')
print(interest[0::2])

출력 예시:
['삼성전자', 'Naver']

In [132]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [135]:
print('출력 예시:')
print(" ".join(interest))

출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [137]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [139]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [140]:
string = "삼성전자/LG전자/Naver"

In [144]:
interest = string.split("/")

In [145]:
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [153]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [149]:
data1 = data.sort()

In [150]:
data1

In [154]:
my_variable = ()
print(type(my_variable
))

<class 'tuple'>

In [155]:
tupule = (1)

In [157]:
tupule

1

In [159]:
t = ['a', 'b', 'c']

In [160]:
t[0] = 'A'

In [161]:
t

['A', 'b', 'c']

In [165]:
t[0] = 'a'

In [166]:
t

['a', 'b', 'c']

In [167]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [169]:
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [170]:
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [171]:
a, b, *c = (0, 1, 2, 3, 4, 5)

In [172]:
a

0

In [173]:
b

1

In [174]:
c

[2, 3, 4, 5]

In [175]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [176]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [178]:
ice["죠스바"] = 1200
ice["월드콘"] = 1500

In [179]:
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [180]:
print(ice['메로나'])

1000

In [183]:
ice['메로나'] = 1300

In [184]:
print(ice['메로나'])

1300

In [185]:
inventory = {"메로나":[300, 20],
             "비비빅":[400, 3],
              "죠스바":[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [187]:
print(inventory["메로나"][0],'원')

300 원

In [189]:
print(inventory["메로나"][1],'개')

20 개

In [192]:
inventory["월드콘"] = [500,7]

In [193]:
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [194]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [195]:
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [196]:
ice = list(icecream.values())
print(ice)

[1200, 1200, 1800, 1500, 1000]

In [205]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [206]:
###딕셔너리 생성 중 key값 여러개일 때 value()에서 value()에 숫자를 넣는다면, ()에 넣은 숫자번째 key값이 출력되는가?

In [209]:
print(list(icecream.values()))

[1200, 1200, 1800, 1500, 1000]

In [210]:
print(sum(icecream.values()))

6700

In [211]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

In [212]:
icecream['팥빙수'] = 2700

In [213]:
icecream['아맛나'] = 1000

In [214]:
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [220]:
icecream =

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [221]:
icecream.update(new_product)

In [222]:
icecream

{'팥빙수': 2700, '아맛나': 1000}

In [223]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

In [224]:
fruit = {keys: vals}

In [225]:
fruit

{('apple', 'pear', 'peach'): (300, 250, 400)}

In [233]:
fruit = dict(zip(keys,vals))

In [234]:
fruit

{'apple': 300, 'pear': 250, 'peach': 400}

In [235]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

In [236]:
close_table = dict(zip(date, close_price))

In [237]:
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

In [238]:
my_variable = ()

In [241]:
movie_rank = ('닥터스트레인지', '스플릿','럭키')

In [242]:
movie_rank

('닥터스트레인지', '스플릿', '럭키')

In [243]:
tp = (1)

In [244]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [245]:
interest = list(interest)

In [246]:
interest

['삼성전자', 'LG전자', 'SK Hynix']

In [247]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [257]:
tp1 = range(2,100,2)

In [258]:
tp1 = tuple(tp1)

In [259]:
tp1

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)

In [260]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [261]:
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [262]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [266]:
print(nums[0::2])

[1, 3, 5, 7, 9]

In [267]:
print(nums[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [268]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [269]:
interest

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [271]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [272]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [273]:
string = "삼성전자/LG전자/Naver"

In [275]:
string.split('/')

['삼성전자', 'LG전자', 'Naver']

In [276]:
data = [2, 4, 3, 1, 5, 10, 9]

In [277]:
data.sort()

In [278]:
data

[1, 2, 3, 4, 5, 9, 10]

In [282]:
movie_rank = ['닥터스트레인지','스플릿','럭키']

In [283]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [284]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [289]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

SyntaxError: cannot delete literal (4100901679.py, line 1)

In [291]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

In [294]:
langs = [lang1+lang2]

In [295]:
langs

[['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']]

In [3]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores

In [4]:
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [7]:
temp = {}

In [8]:
icecream = {"메로나": 1000, "폴라포":1200,"빵빠레":1800}

In [1]:
info =input()
print(info*2)

안녕하세요안녕하세요

In [6]:
info = input("숫자를 입력하세요:")
print(int(info) + 10)

40

In [9]:
info = input()
if int(info) % 2== 0:
    print("짝수")
else:
    print("홀수")

홀수

In [12]:
info = input("입력값:")
num = int(info) +20
if num < 255:
    print(num)
else:
    (num) >= 255
    print('255')

220

In [18]:
info = input("입력값:")
num = int(info) - 20
if num <0:
    print(0)
elif (num) >= 255:
    print('255')
elif num < 255:
    print(num)

5

In [19]:
fruit = ["사과", "포도", "홍시"]

In [21]:
i = input()
if i in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

정답입니다.

In [22]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

In [23]:
i = input()
if i in warn_investment_list:
    print("투자 경고 종목입니다")

else:
    print("투자 경고 종목이 아닙니다.")

투자 경고 종목입니다

In [24]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

In [31]:
계절 = input("제가 좋아하는 계절은")
if 계절 in fruit:
    print(fruit.values())

dict_values(['딸기', '토마토', '사과'])

In [39]:
A = input("")
if A.islower():
    print(A.upper())
else:
    print(A.lower())

F

In [4]:
i = int(input())
if 81<= i<=100:
    print('A')
elif 61<= i<=80:
    print('B')
elif 41<= i<=60:
    print('C')
elif 21<=i<=40:
    print('D')
elif 0<= i<=20:
    print('E')

else:
    print("틀렸습니다.")

B

In [13]:
환율 = {"달러": 1167,
        "엔" : 1.096,
        "유로": 1268,
        "위안" : 171}

user = input()
num, currency = user.split()

print(float(num) * 환율[currency],"원")

88760.0 원

In [17]:
num1 = input("number1: ")
num2 = input("number2: ")
num3 = input("number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1>= num3:
    print(num1)

elif num2 >= num1 and num2 >= num3:
    print(num2)

else:
    print(num3)

15

In [22]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LG"
else :
    com = "알수없음"

print(f"당신은 {com} 사용자 입니다")

당신은 SKT 사용자 입니다

In [30]:
address = input("우편번호: ")
address = str(address[:])

if address[2] == "0":
    print("강북구")
elif address[2] == "1":
    print("강북구")
elif address[2] == "2":
    print("강북구")
elif address[2] == "3":
    print("강북구")
elif address[2] == "4":
    print("도봉구")
elif address[2] == "5":
    print("도봉구")
elif address[2] == "6":
    print("도봉구")
elif address[2] == "7":
    print("너으ㅏㄴ그구")
elif address[2] == "8":
    print("노원구구")
else:
    print("노원구")

노원구구

In [31]:
address = input("우편번호 : ")
address = address[:3]

if address in ["010","011","012"]:
    print("강북구")
elif address in ["013","014","015"]:
    print("도봉구")
else:
    print("노원구")

노원구

In [42]:
id = input("주민등록번호: ")
id = id.split("-")[1]

if id[0] == "1" or id[0] == "3":
    print("남자")
else:
    print("여자")

남자

In [1]:
price_list = [32100, 32150, 32000, 32500]

In [7]:
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [8]:
price_list = [32100, 32150, 32000, 32500]

In [14]:
for i in range(len(price_list)):
    print(3-i,price_list[i])

3 32100
2 32150
1 32000
0 32500

In [16]:
for i in range(len(price_list)):
    print(len(price_list)-1,price_list[i])

3 32100
3 32150
3 32000
3 32500

In [17]:
리스트 = [100, 200, 300]

In [19]:
for i in range(len(리스트)):
    print(i +10)

10
11
12

In [31]:
리스트 = ['dog', 'cat', 'parrot']

In [35]:
for 이름 in 리스트:
  print(이름, len(이름))
  print(이름, len(이름))

dog 3
dog 3
cat 3
cat 3
parrot 6
parrot 6

In [37]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [38]:
리스트 = [1, 2, 3]

In [49]:
for i in 리스트:
    print("3 x",i)

3 x 1
3 x 2
3 x 3

In [50]:
리스트 = ["가", "나", "다", "라"]

In [62]:
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [63]:
리스트 = [3, -20, -3, 44]

In [67]:
for i in 리스트:
    if i <0:
        print(i)

-20
-3

In [72]:
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [79]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i < 20 and i % 3 == 0:
        print(i)

12
18

In [81]:
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i)>=3:
        print(i)

study
python
language

In [85]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [86]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [87]:
리스트 = ['dog', 'cat', 'parrot']

In [88]:
for i in 리스트[0:]:
    if i.upper():
        print(i)

dog
cat
parrot

In [98]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    스플릿 =i.split('.')
    print(스플릿[0])

hello
ex01
intro

In [104]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    스플릿 = i.split(".")
    if 스플릿[1] == "h":
        print(스플릿)

['intra', 'h']
['define', 'h']

In [106]:
for i in range(99):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

In [112]:
print(list(range(2002,2051,4)))

[2002, 2006, 2010, 2014, 2018, 2022, 2026, 2030, 2034, 2038, 2042, 2046, 2050]

In [113]:
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [115]:
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [117]:
for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [118]:
for i in range(float(0,1,0.1)):
    print(i)

TypeError: float expected at most 1 argument, got 3

In [127]:
for i in range(3,30,3):
    print("3x%i", i)

3x%i 3
3x%i 6
3x%i 9
3x%i 12
3x%i 15
3x%i 18
3x%i 21
3x%i 24
3x%i 27

In [129]:
for i in range(1, 10) :
    if i //2 == 0:
        print (3, "x", i, " = ", 3 * i)

3 x 1  =  3

In [132]:
for i in range(10):
    i = i +1
    print("합:", i )

합: 1
합: 2
합: 3
합: 4
합: 5
합: 6
합: 7
합: 8
합: 9
합: 10

In [134]:
hab = 0
for i in range(1,11):
    hab += i
    print(hab)

1
3
6
10
15
21
28
36
45
55

In [136]:
hab = 1
for i in range(1,11):
    hab = hab*i
    print(hab)

1
2
6
24
120
720
5040
40320
362880
3628800

In [139]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [144]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

In [145]:
my_list = ["가", "나", "다", "라"]

In [147]:
for i in range(4):
    print(my_list[0:2 - i])

['가', '나']
['가']
[]
['가', '나', '다']

In [148]:
my_list = ["가", "나", "다", "라"]

In [149]:
for i in range( 1, len(my_list) ) :
  print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [150]:
my_list = ["가", "나", "다", "라", "마"]

In [154]:
for i in range(len(my_list) - 2):
    print(my_list[i], my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [155]:
my_list = [100, 200, 400, 800]

In [164]:
for i in range(len(my_list)-1):
    print(my_list[i])

100
200
400