In [1]:
letters = 'python'

In [5]:
print('실행 예')
print(letters[0:3])

실행 예
pyt

In [6]:
print('실행 예:')

실행 예:

In [8]:
p = '-'

In [9]:
print('실행 예:')
print(p*80)

실행 예:
--------------------------------------------------------------------------------

In [12]:
t1 = 'python'
t2 = 'java'
t3 = t1+" "+t2

In [13]:
print('실행 예:')
print(t3*3)

실행 예:
python javapython javapython java

In [21]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [22]:
print('이름: %s 나이: %d' % (name1, age1))

이름: 김민수 나이: 10

In [23]:
print('이름: %s 나이: %d' % (name2,age2))

이름: 이철희 나이: 13

In [30]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [32]:
print("이름:{} 나이: {}".format(name1, age1))
print("이름:{} 나이: {}".format(name2, age2))

이름:김민수 나이: 10
이름:이철희 나이: 13

In [36]:
a = str(input())
b = int(input())
print("이름: %s 나이: %d" % (a,b))

이름: 김종선 나이: 7

In [37]:
상장주식수 = "5,969,782,550"

In [38]:
상장 = 상장주식수.replace(",","")

In [39]:
상장

'5969782550'

In [40]:
분기 = "2020/03(E) (IFRS연결)"

In [41]:
q = 분기[0:10]

In [42]:
print(q)

2020/03(E)

In [43]:
data = "   삼성전자   "

In [45]:
data1 = data.replace(" ","")

In [46]:
data1

'삼성전자'

In [47]:
data2 = data.strip()

In [48]:
data2

'삼성전자'