In [1]:
letters = 'python'

In [5]:
print('실행 예')
print(letters[0:3])

실행 예
pyt

In [6]:
print('실행 예:')

실행 예:

In [8]:
p = '-'

In [9]:
print('실행 예:')
print(p*80)

실행 예:
--------------------------------------------------------------------------------

In [12]:
t1 = 'python'
t2 = 'java'
t3 = t1+" "+t2

In [13]:
print('실행 예:')
print(t3*3)

실행 예:
python javapython javapython java

In [21]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [22]:
print('이름: %s 나이: %d' % (name1, age1))

이름: 김민수 나이: 10

In [23]:
print('이름: %s 나이: %d' % (name2,age2))

이름: 이철희 나이: 13

In [30]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [32]:
print("이름:{} 나이: {}".format(name1, age1))
print("이름:{} 나이: {}".format(name2, age2))

이름:김민수 나이: 10
이름:이철희 나이: 13

In [36]:
a = str(input())
b = int(input())
print("이름: %s 나이: %d" % (a,b))

이름: 김종선 나이: 7

In [37]:
상장주식수 = "5,969,782,550"

In [38]:
상장 = 상장주식수.replace(",","")

In [39]:
상장

'5969782550'

In [40]:
분기 = "2020/03(E) (IFRS연결)"

In [41]:
q = 분기[0:10]

In [42]:
print(q)

2020/03(E)

In [43]:
data = "   삼성전자   "

In [45]:
data1 = data.replace(" ","")

In [46]:
data1

'삼성전자'

In [47]:
data2 = data.strip()

In [48]:
data2

'삼성전자'

In [49]:
ticker = "btc_krw"

In [51]:
a = ticker.upper()

In [52]:
a

'BTC_KRW'

In [55]:
ticket = "BTC_KRW"

In [56]:
a = ticket.lower()

In [57]:
a

'btc_krw'

In [62]:
a = 'hello'
b = a.capitalize()

In [63]:
b

'Hello'

In [64]:
a = "hello world"
b = a.split()

In [65]:
b

['hello', 'world']

In [66]:
b = a.split("-")

In [67]:
b

['hello world']

In [68]:
data = "039490       "
data1 = data.strip()

In [69]:
data1

'039490'

In [70]:
data1 = data.rstrip()

In [71]:
data1

'039490'

In [72]:
data1 = data.lstrip()

In [73]:
data1

'039490       '

In [74]:
movie_rank= ["닥터 스트레인지", "스플릿", "럭키"]

In [75]:
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [77]:
movie_rank.append("배트맨")

In [78]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [79]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [80]:
movie_rank.insert(1, "슈퍼맨")

In [81]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [90]:
movie_rank= ["닥터 스트레인지", "수퍼맨","스플릿", "배트맨"]

In [94]:
lang1 = ["C","C++","JAVA"]
lang2 = ["Python","Go","C#"]

In [95]:
langs = lang1 + lang2

In [96]:
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [103]:
nums = [1,2,3,4,5]
print(sum(nums))

15

In [104]:
nums = [1,2,3,4,5,6,7]
print('max:  ',max(nums)
)

max:   7

In [105]:
print('min: ',min(nums))

min:  1

In [107]:
cook = ["피자","김밥","만두","양념치킨","족발","김치만두","쫄면","소시지","라면","팥빙수","김치전"]

In [110]:
print(len(cook))

11

In [114]:
nums = [1,2,3,4,5]
average = sum(nums) / len(nums)
print(average)

3.0

In [115]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [116]:
print('출력 예시:')
print(price[1:])

출력 예시:
[100, 130, 140, 150, 160, 170]

In [119]:
nums = [ 1,2,3,4,5,6,7,8,9,10]
print('실행 예:')
print(nums[::2])

실행 예:
[1, 3, 5, 7, 9]

In [120]:
nums = [ 1,2,3,4,5,6,7,8,9,10]
print('실행 예:')
print(nums[1::2])

실행 예:
[2, 4, 6, 8, 10]

In [121]:
nums = [1, 2, 3, 4, 5]

In [127]:
print('실행 예:')
print(nums[::-1])

실행 예:
[5, 4, 3, 2, 1]

In [128]:
interest = ['삼성전자', 'LG전자', 'Naver']

In [131]:
print('출력 예시:')
print(interest[0::2])

출력 예시:
['삼성전자', 'Naver']

In [132]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [135]:
print('출력 예시:')
print(" ".join(interest))

출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [137]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [139]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [140]:
string = "삼성전자/LG전자/Naver"

In [144]:
interest = string.split("/")

In [145]:
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [153]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [149]:
data1 = data.sort()

In [150]:
data1

In [154]:
my_variable = ()
print(type(my_variable
))

<class 'tuple'>

In [155]:
tupule = (1)

In [157]:
tupule

1

In [159]:
t = ['a', 'b', 'c']

In [160]:
t[0] = 'A'

In [161]:
t

['A', 'b', 'c']

In [165]:
t[0] = 'a'

In [166]:
t

['a', 'b', 'c']

In [167]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [169]:
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [170]:
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [171]:
a, b, *c = (0, 1, 2, 3, 4, 5)

In [172]:
a

0

In [173]:
b

1

In [174]:
c

[2, 3, 4, 5]

In [175]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [176]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [178]:
ice["죠스바"] = 1200
ice["월드콘"] = 1500

In [179]:
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [180]:
print(ice['메로나'])

1000

In [183]:
ice['메로나'] = 1300

In [184]:
print(ice['메로나'])

1300

In [185]:
inventory = {"메로나":[300, 20],
             "비비빅":[400, 3],
              "죠스바":[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [187]:
print(inventory["메로나"][0],'원')

300 원

In [189]:
print(inventory["메로나"][1],'개')

20 개

In [192]:
inventory["월드콘"] = [500,7]

In [193]:
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [194]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [195]:
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [196]:
ice = list(icecream.values())
print(ice)

[1200, 1200, 1800, 1500, 1000]

In [205]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [206]:
###딕셔너리 생성 중 key값 여러개일 때 value()에서 value()에 숫자를 넣는다면, ()에 넣은 숫자번째 key값이 출력되는가?

In [209]:
print(list(icecream.values()))

[1200, 1200, 1800, 1500, 1000]

In [210]:
print(sum(icecream.values()))

6700

In [211]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

In [212]:
icecream['팥빙수'] = 2700

In [213]:
icecream['아맛나'] = 1000

In [214]:
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [220]:
icecream =

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [221]:
icecream.update(new_product)

In [222]:
icecream

{'팥빙수': 2700, '아맛나': 1000}

In [223]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

In [224]:
fruit = {keys: vals}

In [225]:
fruit

{('apple', 'pear', 'peach'): (300, 250, 400)}

In [233]:
fruit = dict(zip(keys,vals))

In [234]:
fruit

{'apple': 300, 'pear': 250, 'peach': 400}

In [235]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

In [236]:
close_table = dict(zip(date, close_price))

In [237]:
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

In [238]:
my_variable = ()

In [241]:
movie_rank = ('닥터스트레인지', '스플릿','럭키')

In [242]:
movie_rank

('닥터스트레인지', '스플릿', '럭키')

In [243]:
tp = (1)

In [244]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [245]:
interest = list(interest)

In [246]:
interest

['삼성전자', 'LG전자', 'SK Hynix']

In [247]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [257]:
tp1 = range(2,100,2)

In [258]:
tp1 = tuple(tp1)

In [259]:
tp1

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)

In [260]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [261]:
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [262]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [266]:
print(nums[0::2])

[1, 3, 5, 7, 9]

In [267]:
print(nums[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [268]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [269]:
interest

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [271]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [272]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [273]:
string = "삼성전자/LG전자/Naver"

In [275]:
string.split('/')

['삼성전자', 'LG전자', 'Naver']

In [276]:
data = [2, 4, 3, 1, 5, 10, 9]

In [277]:
data.sort()

In [278]:
data

[1, 2, 3, 4, 5, 9, 10]

In [282]:
movie_rank = ['닥터스트레인지','스플릿','럭키']

In [283]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [284]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [289]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

SyntaxError: cannot delete literal (4100901679.py, line 1)

In [291]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

In [294]:
langs = [lang1+lang2]

In [295]:
langs

[['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']]