In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib as mp

In [4]:
SS = 50000

In [7]:
총평가금액 = SS*10
print(총평가금액)

500000

In [8]:
시가총액 = 298000000000000
현재가 = 50000
per = 15.79

In [9]:
print( 시가총액, type(시가총액))
print( 현재가, type(현재가))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [10]:
s = "hello"
t = "python"

In [15]:
print("실행 예:")
print(s+'!',t)

실행 예:
hello! python

In [16]:
2+2*3

8

In [17]:
a = 128
print(type(a))

<class 'int'>

In [18]:
a = "132"

In [19]:
print(type(a))

<class 'str'>

In [20]:
year = "2020"

In [23]:
int(year)

2020

In [24]:
int(year), int(year)+1,int(year)+2

(2020, 2021, 2022)

In [25]:
letters = 'python'

In [32]:
print('실행 예')
print(letters[0:2])

실행 예
py

In [33]:
license_plate = "24가 2210"

In [41]:
print(license_plate[-4:2
                    ])

In [42]:
string = "PYTHON"

In [47]:
print(string[::-1])

NOHTYP

In [48]:
phone_number = "010-1111-2222"

In [50]:
phone_number1 = phone_number.replace("-"," ")

In [51]:
print(phone_number1)

010 1111 2222

In [52]:
url = "https://sharebook.kr"

In [55]:
print(url[::-2])

r.obrh/:pt

In [56]:
lang = 'python'

In [57]:
lang[0] = 'p'

TypeError: 'str' object does not support item assignment

In [58]:
string='abcdfe3a458a32a'

In [59]:
t1 = 'python'

In [61]:
t2 = 'java'

In [63]:
t3 = t1+t2

In [64]:
t3*3

'pythonjavapythonjavapythonjava'

In [65]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [68]:
print('이름:'+' '+ str(name1) + ' '+'나이:'+ ' '+ str(age1))

이름: 김민수 나이: 10

In [69]:
print("이름: %s 나이: %d" %(name1, age1))

이름: 김민수 나이: 10

In [70]:
print("이름: {} 나이: {}".format(name1, age1))

이름: 김민수 나이: 10

In [71]:
상장주식수 = "5,478,782,550"

In [72]:
print(상장주식수.replace(","," "))

5 478 782 550